<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Development Manager</h1>
            <span><address>Working Time Solutions</address><time>July 2012 to September 2016</time></span>
        </header>
        <p>Working Time Solutions provides Time and attendance, Strategic scheduling, Workforce management, HR solutions to the air-services, manufacturing and utilities sectors in the UK, including integrations to a variety of payroll providers.</p>
        <p>After success at improving Working Time Solutions implementations and project management process, through the introduction of agile principles and processes, and implementing several working time change and software installations at high profile clients. I was asked to undertake a similar transformation in the Development team.</p>
        <p>This involved building and leading the development team and use of agile methodologies to create a new cloud based product, whilst still remaining hand-on working with clients to deliver software solutions and integrations.</p>
        <ul>
          <li>Client installations and upgrades, bespoke reporting,, facilitating UAT and managing issues and risks through to completion</li>
          <li>Delivering on-site workshops to determine client requirements and meet expectations within the scope of the project and budget. Creating associated documentation in the form of high level and technical designs
          <li>Facilitated meetings and Leading workshops with clients to demo configuration and identify requirements</li>
          <li>Prepare and deliver bespoke on-site training, advising on best practice to ensure clients get the most out of WTS solutions</li>
          <li>Manage projects through to completion using Agile and Waterfall methodologies</li>
          <li>Team Management, through supportive 1:1 and objectives and recruitment of new team members</li>
          <li>Coaching and mentoring the team empowering them to creating a cross functional department</li>
          <li>Decision maker for technologies and architectural solutions to meet requirements translating these to the development team</li>
          <li>Supporting the sales team, conducting pre-sale activities including RFI's, RFP's, demo's and facilitating workshops. Responsible for change management, QA and release processes to clients</li>
          <li>Cultivated and maintained positive and lasting relationships with executive-level clients</li>
        </ul>
    </article>
    <article>
        <header>
            <h1>Project Manager / Implementation Consultant</h1>
            <span><address>Working Time Solutions</address><time>September 2010 to July 2012</time></span>
        </header>
        <p>Returning to Working Time Solutions to assist and guide them through a period of significant growth. A variety of growth challenges were presented. To deal with these I introduced several new processes to achieve successful delivery of projects to clients.</p>
        <ul>
          <li>Use of Rational Unified Process and iterative development/delivery during project implementations</li>
          <li>PMO established to co-ordinate resources and monitor budgets, regaining control of projects.</li>
          <li>Creation of document library to support and improve consistency of implementations</li>
          <li>Creation and delivery of pre-sales demonstrations</li>
          <li>Sales Support, response to tenders, requests for information and proposals</li>
          <li>Management of projects from initiation through to Go-live with training and post go-live support Integration throughs the use of appropriate technologies</li>
          <li>Closely worked with clients to understand problem and requirements</li>
          <li>Successfully Implement solutions to satisfy requirements on-time and budget</li>
          <li>Confident presenting to senior executives, Trade unions and employees</li>
        </ul>
    </article>
    <article>
        <header>
            <h1>Project Manager / Implementation Consultant</h1>
            <span><address>numero</address><time>June 2006 to September 2012</time></span>
        </header>
        <p>numéro based in stockport is one of the fastest growing companies in the UK. numéro provides customer contact centres with a complete and cost-effective solution for customer enquiry management, consistent response and automation.</p>
        <ul>
          <li>Responsible for managing and delivering the implementation of complex solutions into large corporate customers</li>
          <li>Gathering of requirements and management of project from project initiation to Go-Live</li>
          <li>Installation, set and migrations</li>
          <li>Provided technical consultancy and specialised in integration</li>
          <li>mapping As-Is and To-Be processes</li>
          <li>combining PRINCE 2 standards, Rational Unified Process, ITIL and elements of Six Sigma where appropriate to support the continued growth and improvement</li>
        </ul>
        <p>The Implementation role at numéro required a wide diversity of knowledge and the ability to learn and adapt quickly to make the implementation work successfully. This required a detail understanding of the problem and choice of the appropriate technology as the solution.</p>
    </article>
    <article>
        <header>
            <h1>Analyst Programmer</h1>
            <span><address>Working Time Solutions</address><time>January 2001 to June 2006</time></span>
        </header>
        <p>As an Analyst Programmer developing and testing application. Member of the team that created WTS flag ship products WORK Scheduling and WORK Management. Extensively involved in implementing and supporting WTS software for all clients. Strengths were developed in project management and leadership. Leading into consultancy and business analysis on the best practice to re-engineer clients shift patterns and working practices.</p>
    </article>
</section>
